/*** The new CSS Reset - version 1.4.4 (last updated 22.12.2021) ***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]){
    display:none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]){
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

body {
    font-family: sans-serif;

    --input-border-color: #ddd;
    --input-background-color: #eee;
    --input-border-color-focus: black;
    --button-border-color: black;
    --button-background-color: #ccc;
    --button-active-background-color: #999;
}

h1 {
    font-size: 2em;
    margin-bottom: 1em;

    &:not(:first-child) {
        margin-top: 1em;
    }
}

h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
    &:not(:first-child) {
        margin-top: 1em;
    }
}

h3 {
    font-size: 1.25em;
    margin-bottom: 1em;
    &:not(:first-child) {
        margin-top: 1em;
    }
}

input {
    border: 1px solid black;
    display: block;
    width: 100%;
    border-radius: 0.25em;
    border: 1px solid;
    border-color: var(--input-border-color);
    background-color: var(--input-background-color);
    padding: 0.5em;

    &:focus {
        border-style: dashed;
        border-color: var(--input-border-color-focus);
    }
}

button {
    border: 1px solid;
    border-color: var(--button-border-color);
    padding: 0.25em 1em;
    border-radius: 0.25em;
    background-color: var(--button-background-color);
    transition: background-color 125ms;
    text-align: center;

    &:active {
        background-color: var(--button-active-background-color);
    }

    &:disabled {
        opacity: 0.4;
    }

    &:focus {
        border-style: dashed;
    }
}
