.headline-switches {
    margin-top: 1.5em !important;
}

.editor-buttons {
    margin-top: 2em;
    position: relative;

    .btn-save {
        position: absolute;
        right: 0;
    }
}

.status-display {
    margin-top: 1em;
}
