.rfkit-input {
    display: block;

    &:not(:first-of-type) {
        margin-top: 1em;
    }

    &.invalid input {
        border-color: red;
    }
}

.label {
    margin-left: 0.25em;
    margin-bottom: 0.25em;
    display: block;
}

.validation-error {
    color: red;
    display: block;
    margin-left: 0.25em;
    margin-top: 0.25em;
}
