.rfkit-input {
    display: block;

    &:not(:first-of-type) {
        margin-top: 1em;
    }
}

input {
    border: 1px solid black;
    display: block;
    width: 100%;
    border-radius: 0.25em;
    border: 1px solid #ddd;
    background-color: #eee;
    padding: 0.5em;

    .invalid & {
        border-color: red;
    }
}

.label {
    margin-left: 0.25em;
    margin-bottom: 0.25em;
    display: block;
}

.validation-error {
    color: red;
    display: block;
    margin-left: 0.25em;
    margin-top: 0.25em;
}
